In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [5]:
ads_data=pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-a-zakorko/shared/homeworks/python_ds_miniprojects/6/ads_data.csv')
ads_clients_data=pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-a-zakorko/shared/homeworks/python_ds_miniprojects/6/ads_clients_data.csv')

In [ ]:
ads_data.fillna(0)
ads_data.groupby(['ad_id','event'])\
    .agg({'client_union_id':'count'})

In [7]:
ads_data.pivot(index='client_union_id', columns='ad_id', values='event')

              date  client_union_id  community_id create_date
0       2020-05-07                1    -130371893  2018-12-24
1       2020-05-07                2    -130304626  2019-02-10
2       2020-05-07                3    -130462599  2019-01-25
3       2020-05-07                4    -130574300  2018-12-09
4       2020-05-07                5    -130292358  2019-01-08
...            ...              ...           ...         ...
122073  2020-05-07           122074    -130470790  2018-12-21
122074  2020-05-07           122075    -130911261  2018-11-09
122075  2020-05-07           122076    -130494912  2018-10-27
122076  2020-05-07           122077    -130910585  2018-12-05
122077  2020-05-07           122078    -130558729  2019-01-22

[122078 rows x 4 columns]