In [21]:
import pandas as pd
from io import BytesIO
import requests


req = requests.get('https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv')
data = req.content

df_google = pd.read_csv(BytesIO(data))

In [11]:
df_google

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [9]:
round((117/288)*100)

41

In [22]:
df=pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-a-zakorko/Lesson_7/7_browser.csv')

In [34]:
import numpy as np
chrome_robots=pd.Series(np.where((df.browser.str.contains('Chrome') & (df.user_type == 'Robots')), 1, 0))

In [35]:
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
dtype: int64

In [49]:
ads=pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-a-zakorko/Lesson_7/sample_ads.csv')

In [50]:
ads

    ad_id user_id click_type
0   12345   qwert        top
1   12345   fsssc     center
2   12345   vfvgg        NaN
3   12345   asrvv        NaN
4   12345   tynuy        top
5   12345   vreio        NaN
6   12345   oirbv        top
7   12345   kjvbe        NaN
8   12345   vkrej     center
9   12345   krjvb        top
10  12345   vrejn        top
11  12345   vrejk     center
12  12345   pirbv        NaN
13  12345    mpev        NaN
14  12345  pi3bvk        top
15  12345  osbvor     center
16  12345   vrbuo        NaN
17  12345   o3b0v        top

In [57]:
not_nan_count,b=ads.fillna(0).query('click_type!=0').shape

In [58]:
not_nan_count

11

In [61]:
new_list = []

for item in lst:
    try:
        a=int(item)
        new_list.append(a)
    except: 
        continue

In [62]:
new_list

[10, 20, 50]

In [ ]:
token = '6431753237:AAFNa9usfkdTKHRkj_lA8lWI6P6LCthEUIg'

In [3]:
import requests
import json
from urllib.parse import urlencode


token = '6431753237:AAFNa9usfkdTKHRkj_lA8lWI6P6LCthEUIg'
chat_id = 598616820  # your chat id

message = 'test'  # text which you want to send

params = {'chat_id': chat_id, 'text': message}

base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage?' + urlencode(params)
# Only if you need it
# proxy = {'https': 'https://77.48.23.199:57842'}

# To send request via proxy
# resp = requests.get(url, proxies=proxy)
resp = requests.get(url)

In [2]:
resp