In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-a-zakorko/lesson_3_data.csv',encoding='windows-1251')

In [17]:
rows_df , columns_df = df.shape

In [19]:
columns_df

21

In [20]:
df_shape = 'df has {} rows and {} columns'

In [22]:
df_shape.format(rows_df, columns_df)

'df has 48129 rows and 21 columns'

In [8]:
user_df = df[['tc','art_sp']]

In [12]:
user_df = user_df.rename(columns ={'tc':'user_id','art_sp':'brand_info'})

In [49]:
user_df.head()

     user_id                          brand_info   brand_name
0  110000761  MARAVILLA        500 G Store_Brand  Store_Brand
1  110000761  FIDEO CABELLIN   500 G Store_Brand  Store_Brand
2   28491841        SPAGUETTI Nє 5 500 G Brand_1      Brand_1
3   95931501       FIDEO FIDEUБ      500 Brand_7      Brand_7
4   93265591      MACARRONES  GRATINAR 5 Brand_2      Brand_2

In [17]:
brand_name ='FIDEO CABELLIN 500 G Store_Brand'

In [21]:
brand_name.split(' ')[-1]

'Store_Brand'

In [23]:
def split_brand (brand_name_data):
    return brand_name_data.split(' ')[-1]

In [34]:
user_df['brand_name'] = user_df.brand_info.apply(split_brand)

In [27]:
user_df.brand_info.apply(lambda x: x.split(' ')[-1])

0        Store_Brand
1        Store_Brand
2            Brand_1
3            Brand_7
4            Brand_2
            ...
48124        Brand_4
48125        Brand_4
48126    Store_Brand
48127    Store_Brand
48128    Store_Brand
Name: brand_info, Length: 48129, dtype: object

In [35]:
user_df

          user_id                          brand_info   brand_name
0       110000761  MARAVILLA        500 G Store_Brand  Store_Brand
1       110000761  FIDEO CABELLIN   500 G Store_Brand  Store_Brand
2        28491841        SPAGUETTI Nє 5 500 G Brand_1      Brand_1
3        95931501       FIDEO FIDEUБ      500 Brand_7      Brand_7
4        93265591      MACARRONES  GRATINAR 5 Brand_2      Brand_2
...           ...                                 ...          ...
48124    45518841      FIDEOS 0         500 G Brand_4      Brand_4
48125   110824211      PLUMAS 3         500 G Brand_4      Brand_4
48126  1408670389  MACARRONES       500 G Store_Brand  Store_Brand
48127  1408670389  SPAGHETTI        500 G Store_Brand  Store_Brand
48128    48582221  SPAGHETTINI      500 G Store_Brand  Store_Brand

[48129 rows x 3 columns]

In [46]:
users_purchases = user_df.groupby('user_id', as_index=False) \
    .agg({'brand_name': 'count'}) \
    .rename(columns={'brand_name':'purchases'}) \
    .query('purchases>=5')

In [78]:
users_unique_brands = user_df.groupby('user_id',as_index=False) \
    .agg({'brand_name':pd.Series.nunique}) \
    .rename(columns={'brand_name':'unique_brands'})

In [73]:
lovely_brand_purchases_df=user_df.groupby(['user_id','brand_name'], as_index =False) \
    .agg({'brand_info':'count'}) \
    .sort_values(['user_id','brand_info'], ascending = [False,False]) \
    .groupby('user_id')\
    .head(1) \
    .rename(columns={'brand_name':'lovely_brand','brand_info':'lovely_brand_purchases'})

In [ ]:
users_purchases.merge(users_unique_brands)

In [87]:
df = pd.read_csv('https://disk.yandex.ru/d/6x3h8iKxDN7KZg')
def read_n_agg (df):
    agg_df=df.split(';')\
    .groupby('company')\
    .agg({'income':'mean'})
    return agg_df